html
  head
    title Tutorías UNISON
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css")
  body
    include menu.pug
    h1 Adios #{nombre}
    block contenido
    block footer