extends index.pug

block contenido
  form(method='post', action='/login')
    label Correo
    input(type='email', name='correo')
    label Password
    input(type='password', name='password')
    input(type='submit')